*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
}
li{
    list-style: none;
    color: white
}   
h1{
    color: white;
}

.sidebar{
    position: fixed;
    background: #47143a;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.sidebar .logo{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar li{
    font-size: 24px;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sidebar li>a:hover{
    background: white;
    color:#47143a;
    text-decoration: none;
}
.container{
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #f1f1f1;
} 
.container .header{
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2);
}
.container .header .nav{
    width: 90%;
    display: flex;
    align-items: center;
}
.container .header .nav .search{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .header .nav .search input[type=text]{
    border: none;
    background: #f1f1f1;
    padding: 10px;
    width: 50%;
}
.container .header .nav .search button{
    width: 40px;
    height: 35px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .header .nav .search button img{
    width: 30px;
    height: 30px;

}
.container .header .nav .user{
    flex: 1; 
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.container .header .nav .user img{
    position: relative;
    width: 50px;
    height: 50px;   
}
.container .content .cards .card{
    width: auto;
    height: 650px;
    background: white;
    margin: 78px 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.container .content .cards .card .box img{
width: 150px;
height: 150px;
}
.container .content .content-li{
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}