.nav {
    display: flex;
    height: 100%;
    position: static;
    width: 100%;
    z-index: 9999;
  }
  
  .nav-item {
    padding-left: 4px;
    padding-right: 4px;
    position: static;
    text-align: right;
    width: auto;
  }
  
  .button-item {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  
  .dropdown {
    display: none;
  }
  
  .nav-item:hover .dropdown {
    display: block;
  }
  
  .dropdown-menu {
    border: solid 1px red;
    padding: 2px;
    position: absolute;
  }